{
    "name": "{{ project_name_kebab_case }}",
    "dockerComposeFile": "../docker-compose.yml",
    "service": "devcontainer",
    "workspaceFolder": "/workspaces/${localWorkspaceFolderBasename}/",
    "features": {
        {%- if project_type == 'app' %}
        "ghcr.io/devcontainers/features/docker-in-docker:2": {
            "moby": false
        },
        {%- endif %}
        "ghcr.io/devcontainers-extra/features/apt-get-packages:1": {
            "packages": "starship"
        }
    },
    "overrideCommand": true,
    "remoteUser": "user",
    "postStartCommand": "sudo chown -R user:user /opt/ && uv sync --python ${localEnv:PYTHON_VERSION:{{ python_version }}} {% if project_type == 'package' %}--resolution ${localEnv:RESOLUTION_STRATEGY:highest} {% endif %}--all-extras && pre-commit install --install-hooks",
    "customizations": {
        "jetbrains": {
            "backend": "PyCharm",
            "plugins": [
                "com.github.copilot"
            ]
        },
        "vscode": {
            "extensions": [
                "astral-sh.ty",
                "charliermarsh.ruff",
                "GitHub.copilot-chat",
                {%- if ci == 'github' %}
                "GitHub.vscode-github-actions",
                "GitHub.vscode-pull-request-github",
                {%- elif ci == 'gitlab' %}
                "GitLab.gitlab-workflow",
                {%- endif %}
                "ms-azuretools.vscode-docker",
                "ms-python.python",
                "ms-toolsai.jupyter",
                "tamasfe.even-better-toml"
            ],
            "settings": {
                "chat.extensionUnification.enabled": true,
                "editor.bracketPairColorization.enabled": true,
                "editor.codeActionsOnSave": {
                    "source.fixAll": "explicit",
                    "source.organizeImports": "explicit"
                },
                "editor.formatOnSave": true,
                "[python]": {
                    "editor.defaultFormatter": "charliermarsh.ruff"
                },
                "[toml]": {
                    "editor.formatOnSave": false
                },
                "editor.rulers": [
                    100
                ],
                "files.autoSave": "onFocusChange",
                "github.copilot.chat.codesearch.enabled": true,
                "jupyter.kernels.excludePythonEnvironments": [
                    "/usr/local/bin/python"
                ],
                "notebook.codeActionsOnSave": {
                    "notebook.source.fixAll": "explicit",
                    "notebook.source.organizeImports": "explicit"
                },
                "notebook.formatOnSave.enabled": true,
                "python.defaultInterpreterPath": "/opt/venv/bin/python",
                "python.languageServer": "None",
                "python.terminal.activateEnvironment": false,
                "python.testing.pytestEnabled": true,
                "terminal.integrated.env.linux": {
                    "GIT_EDITOR": "code --wait"
                },
                "terminal.integrated.env.mac": {
                    "GIT_EDITOR": "code --wait"
                }
            }
        }
    }
}